{% extends 'icoder/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <legend class="border-bottom ml-3">Log In</legend>
        <fieldset>
            <div class="form-group">
                {{ form|crispy }}
            </div>
        </fieldset>
        <button type="submit" class="btn btn-outline-info mb-4 ml-2">Login</button>
    </form>
    <div>
        <h6 class="text-muted" style="display: inline;">Need an Account?</h6><a href="{% url 'register' %}" class="ml-2"> Register Now </a>
    </div>
</div>
{% endblock content %}